.swagger-section .swagger-ui-wrap .editor_holder {
    p {
        font-family: sans-serif;
        font-size: inherit !important;
        padding: 0 0 10px 6px;
    }
    h3 {
        padding: 0px 0px 0px 6px;
        .button-group {
            margin: -3px 0px 1px 5px !important;
        }
    }
    .row {
        margin: 5px 0;
        padding: 0 6px;
        background-color: #fcf6db;
        border: 1px solid #e5e0c6;
        h3 {
            padding-top: 10px;
        }
        .row {
            border: none;
        }
    }
    .row:first {
        margin: 0;
    }
    .form-control {

        display: table;
        width: 100%;
        label, input, p, select {
            display: table-cell !important;
        }
        input {
            width: 88% !important;
            margin-bottom: 0 !important;
        }
        label {
            padding: 0.6em 0;
            font-size: 1.1em;
            width: 25%;
        }
        p {
            margin-top: 0 !important;
            padding: 0;
            width: 35%;
        }
    }
}